@font-face {
  font-family: "Helvetica Neue";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: local('Helvetica Neue'),local('Helvetica Neue-Regular'),
  url("../fonts/HelveticaNeue-Regular.woff2") format("woff2"),
  url("../fonts/HelveticaNeue-Regular.woff") format("woff"),
  url("../fonts/HelveticaNeue-Regular.ttf") format("ttf");
}

@font-face {
  font-family: "Editorial Grotesk";
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: local('Editorial Grotesk'),local('Editorial Grotesk-Bold'),
  url("../fonts/EditorialGrotesk-Bold.woff2") format("woff2"),
  url("../fonts/EditorialGrotesk-Bold.woff") format("woff"),
  url("../fonts/EditorialGrotesk-Bold.ttf") format("ttf");
} 

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
  margin: 0;
  padding: 0;
}

:root {
  /*css - переменные*/
  --white: #ffffff;
}
/* применение var(--color-blue); */

.visually-hidden:not(:focus):not(active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

a {
  color: #575757;
  text-decoration: none;
}

li {
  list-style-type: none;
}

table {
  border-collapse: collapse;
}

.main {
  font-family: "Helvetica Neue", "Arial", san-serif;
  font-size: 16px;
  line-height: 26px;
  color: #575757;
  font-style: normal;
  font-weight: 400;
  background-color: #F7F7F7;
  margin: 0 auto;
  width: 1280px;
}

.sidebar-news {
  display: flex;
  padding-top: 30px;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 50px;
}

.sidebar {
  flex-shrink: 0;
  width: 280px;
  margin-right: 30px;
  background-color: #F7F7F7;
}

.league {
  height: 170px;
  background-color: #ffffff;
}

.tournament {
  padding-top: 50px;
}

.tournament-heading {
  font-family: "Editorial Grotesk", "Arial", san-serif;
  font-weight: 700;
  font-size: 26px;
  color: #111111;
  text-transform: uppercase;
  padding-bottom: 20px;
}

.table-block {
  display: flex;
}

.table-tournament {
  width: 100%;
}

.table-head { 
  font-size: 13px;
  line-height: 16px;
  color: #828282;
}

.table-cell-head {
  font-weight: 400;
  padding-right: 10px;
  height: 40px;
  text-align: center;
}

.table-cell-head:nth-child(1) {
  padding-right: 10px;
  padding-left: 10px;
}

.table-cell-head:nth-child(2) {
  text-align: left;
  padding: 10px;
}

.table-row {
  font-size: 13px;
  line-height: 16px;
  color: #111111;
  background-color: #ffffff;
}

.table-cell {
  padding-right: 10px;
  border-bottom: 2px solid #F7F7F7;
  height: 70px;
  text-align: center;
}

.table-cell:nth-child(3) {
  width: 35px;
}

.table-cell:nth-child(4) {
  width: 35px;
}

.table-num {
  font-family: "Editorial Grotesk", "Arial", san-serif;
  font-weight: 700;
  width: 30px;
  height: 70px;
  text-align: center;
  color: #ffffff;
}

.table-row:nth-child(odd) .table-num {
  background-color: #FD1E4F;
}

.table-row:nth-child(even) .table-num {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), #FD1E4F;
}

.table-link {
  padding-left: 20px;
  width: 100%;
  display: flex;
  align-items: center;
}

.table-text {
  width: 100%;
  padding-left: 10px;
  font-weight: 700;
  color: #111111;
  text-align: left;
}

.al-table {
  padding-top: 30px;
}

.news {
  width: 885px;
}

.main-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 15px;
}

.main-heading {
  font-family: "Editorial Grotesk", "Arial", san-serif;
  font-weight: 700;
  font-size: 26px;
  color: #111111;
  text-transform: uppercase;
}

.al-link {
  display: flex;
}

.al {
  font-family: "Editorial Grotesk", "Arial", san-serif;
  font-weight: 700;
  font-size: 13px;
  line-height: 16px; 
  color: #111111;
  text-transform: uppercase;
}

.arrow {
  margin-left: 10px;
}

.news-list {
  display: flex;
  flex-wrap: wrap;
}

.news-item {
  position: relative;
  margin-bottom: 25px;
  width: 275px;
}

.news-item:not(:nth-child(3n+3)) {
  margin-right: 30px;
}

.news-link {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.news-link::before {
  content: "";
  position: absolute;
  top: 223px;
  border-bottom: 10px solid #FD1E4F;
  width: 275px;
}

.news-item-block {
  padding: 20px;
  background-color: #ffffff;
  height: 100%;
}

.news-date {
  font-size: 13px;
  line-height: 16px;
  margin-bottom: 10px;
}

.news-heading {
  font-family: "Editorial Grotesk", "Arial", san-serif;
  font-weight: 700;
  font-size: 20px;
  color: #111111;
  margin-bottom: 10px;
  text-transform: uppercase;
}

.statistics {
  padding: 0 40px 50px 40px;
}

.statistics-list {
  display: flex;
  justify-content: space-between;
}

.statistics-item:not(:nth-child(3)) {
  padding-right: 30px;
}

.table-bombardiers {
  width: 400px;
}

.table-statistics {
  width: 370px
}

.table-head-stat {
  width: 35px;
  font-weight: 400;
  padding-right: 10px;
  height: 40px;
  text-align: center;
}

.table-head-stat:nth-child(1) {
  text-align: left;
  padding: 10px;
}

.table-cell-stat {
  padding-right: 10px;
  border-bottom: 2px solid #F7F7F7;
  height: 70px;
  text-align: center;
}

.table-cell-stat:nth-child(2) {
  width: 35px;
}

.table-cell-stat:nth-child(3) {
  width: 35px;
}

.table-link-block {
  padding-left: 20px;
  width: 290px;
  display: flex;
  align-items: center;
}

.team {
  width: 100%
  color: #828282;
  padding-left: 10px;
  text-align: left;
}

.media {
  width: 1280px;
  padding: 0 40px 50px 40px;
}

.media-block {
  display: flex;
}

.main-photo-link {
  display: block;
  width: 580px;
  height: 575px;
  background-image: url("../img/main-photo.png");
  background-size: cover;
}

.main-photo-block {
  position: relative;
}

.main-photo-link::before {
  content: "";
  position: absolute;
  top: 565px;
  border-bottom: 10px solid #FD1E4F;
  width: 580px;
}

.icon-media {
  margin: 20px;
}

.main-media-heading {
  font-family: "Editorial Grotesk", "Arial", san-serif;
  font-weight: 700;
  font-size: 20px;
  color: #FFFFFF;
  text-transform: uppercase;
  padding-left: 20px;
  padding-top: 425px;
  padding-bottom: 10px;
  padding-right: 20px;
}

.main-media-date {
  font-size: 13px;
  line-height: 16px;
  color: #FFFFFF;
  padding-left: 20px;
}

.other-media {
  display: flex;
  flex-wrap: wrap;
  width: 620px;
  padding-left: 30px;
}

.other-photos-block {
  position: relative;
}

.other-photos-link {
  display: block;
  width: 280px;
  height: 275px;
}

.other-photos-link::before {
  content: "";
  position: absolute;
  top: 265px;
  border-bottom: 10px solid #FD1E4F;
  width: 280px;
}

.other-photos-block:nth-child(1) .other-photos-link {
  background-image: url("../img/other-photos1.png");
  background-size: cover;
  margin-bottom: 25px;
}

.other-photos-block:nth-child(2) .other-photos-link {
  background-image: url("../img/other-photos2.png");
  background-size: cover;
  margin-bottom: 25px;
  margin-left: 30px;
}

.other-photos-block:nth-child(3) .other-photos-link {
  background-image: url("../img/other-photos3.png");
  background-size: cover;
}

.other-photos-block:nth-child(4) .other-photos-link {
  background-image: url("../img/other-photos4.png");
  background-size: cover;
  margin-left: 30px;
}

.other-media-heading {
  font-family: "Editorial Grotesk", "Arial", san-serif;
  font-weight: 700;
  font-size: 20px;
  color: #FFFFFF;
  text-transform: uppercase;
  padding-top: 100px;
  padding-left: 20px;
  padding-bottom: 10px;
  padding-right: 20px;
}

.other-media-date {
  font-size: 13px;
  line-height: 16px;
  color: #FFFFFF;
  padding-left: 20px;
}

.video {
  width: 1200px;
  padding-top: 50px;
}

.main-video-link {
  display: block;
  width: 580px;
  height: 575px;
  background-image: url("../img/main-video.png");
  background-size: cover;
}

.main-video-block {
  position: relative;
}

.main-video-link::before {
  content: "";
  position: absolute;
  top: 565px;
  border-bottom: 10px solid #FD1E4F;
  width: 580px;
}

.other-videos-block {
  position: relative;
}

.other-videos-link {
  display: block;
  width: 280px;
  height: 275px;
}

.other-videos-link::before {
  content: "";
  position: absolute;
  top: 265px;
  border-bottom: 10px solid #FD1E4F;
  width: 280px;
}

.other-videos-block:nth-child(1) .other-videos-link {
  background-image: url("../img/other-videos1.png");
  background-size: cover;
  margin-bottom: 25px;
}

.other-videos-block:nth-child(2) .other-videos-link {
  background-image: url("../img/other-videos2.png");
  background-size: cover;
  margin-bottom: 25px;
  margin-left: 30px;
}

.other-videos-block:nth-child(3) .other-videos-link {
  background-image: url("../img/other-videos3.png");
  background-size: cover;
}

.other-videos-block:nth-child(4) .other-videos-link {
  background-image: url("../img/other-videos4.png");
  background-size: cover;
  margin-left: 30px;
}

.footer {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  width: 1280px;
}

.sponsors {
  display: flex;
  padding: 40px;
  justify-content: space-between;
  align-items: center;
}

.sberbank-link {
  display: flex;
}

.sberbank-text {
  margin-right: 30px;
  font-family: "Editorial Grotesk", "Arial", san-serif;
  font-weight: 700;
  font-size: 13px;
  color: #828282;
  align-self: center;
  text-transform: uppercase;
}

.sponsors-block {
  display: flex;
}

.sponsors-text {
  font-family: "Editorial Grotesk", "Arial", san-serif;
  font-weight: 700;
  font-size:13px;
  color: #828282;
  margin-right: 30px;
  align-self: center;
  text-transform: uppercase;
}

.sponsors-list {
  display: flex;
}

.sponsors-item {
  margin-left: 30px;
}

.sponsors-image {
  border-radius: 50%;
}

.contacts {
  display: flex;
  align-items: center;
  background-color: #111111;
  justify-content: space-between;
  padding: 40px;
}

.copyright {
  font-family: "Helvetica Neue", "Arial", san-serif;
  font-size: 13px;
  line-height: 16px;
  color: #FFFFFF;
}

.socials-list {
  display: flex;
  align-items: center;
}

.socials-item {
  padding-right: 40px;
  padding-left: 40px;
}

.socials-item:not(:last-child) {
  height: 50px;
  border-right: 1px solid #575757;
  padding-top: 12px;
}

