@font-face {
  font-family: "Helvetica Neue";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: local('Helvetica Neue'),local('Helvetica Neue-Regular'),
  url("../fonts/HelveticaNeue-Regular.woff2") format("woff2"),
  url("../fonts/HelveticaNeue-Regular.woff") format("woff"),
  url("../fonts/HelveticaNeue-Regular.ttf") format("ttf");
}

@font-face {
  font-family: "Editorial Grotesk";
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: local('Editorial Grotesk'),local('Editorial Grotesk-Bold'),
  url("../fonts/EditorialGrotesk-Bold.woff2") format("woff2"),
  url("../fonts/EditorialGrotesk-Bold.woff") format("woff"),
  url("../fonts/EditorialGrotesk-Bold.ttf") format("ttf");
} 

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
  margin: 0;
  padding: 0;
}

:root {
  /*css - переменные*/
  --white: #ffffff;
}
/* применение var(--color-blue); */

.visually-hidden:not(:focus):not(active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

a {
  color: #575757;
  text-decoration: none;
}

li {
  list-style-type: none;
}

table {
  border-collapse: collapse;
}

.main {
  font-family: "Helvetica Neue", "Arial", san-serif;
  font-size: 16px;
  line-height: 26px;
  color: #575757;
  font-style: normal;
  font-weight: 400;
  background-color: #F7F7F7;
  margin: 0 auto;
  width: 1280px;
}

.sidebar-news {
  display: flex;
  padding-top: 30px;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 50px;
}

.sidebar {
  flex-shrink: 0;
  width: 280px;
  margin-right: 30px;
  background-color: #F7F7F7;
}

.league {
  height: 170px;
  background-color: #ffffff;
}

.tournament {
  padding-top: 50px;
}

.tournament-heading {
  font-family: "Editorial Grotesk", "Arial", san-serif;
  font-weight: 700;
  font-size: 26px;
  color: #111111;
  text-transform: uppercase;
  padding-bottom: 20px;
}

.table-tournament {
  width: 280px;
}

.table-head {
  font-family: Helvetica Neue;
  font-weight: 400; 
  font-size: 13px;
  line-height: 16px;
  color: #828282;
  text-align: left;
}

.table-cell-head {
  height: 40px;
  padding-left: 10px;
  vertical-align: middle;
}

.table-row {
  font-family: Helvetica Neue;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  color: #111111;
  background-color: #ffffff;
}

.table-cell {
  padding-left: 10px;
  border-bottom: 2px solid #F7F7F7;
  height: 70px;
  vertical-align: middle;
}

.table-num {
  font-family: "Editorial Grotesk", "Arial", san-serif;
  font-weight: 700;
  width: 30px;
  height: 70px;
  vertical-align: middle;
  text-align: center;
  color: #ffffff;
}

.table-num-odd {
  background-color: #FD1E4F;
}

.table-num-even {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), #FD1E4F;
}

.table-link {
  padding-left: 10px;
  display: flex;
  align-items: center;
}

.table-text {
  padding-left: 10px;
  font-family: Helvetica Neue;
  font-weight: bold;
  color: #111111;
}

.al-table {
  padding-top: 30px;
}

.news {
  width: 885px;
}

.main-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 15px;
}

.main-heading {
  font-family: "Editorial Grotesk", "Arial", san-serif;
  font-weight: 700;
  font-size: 26px;
  color: #111111;
  text-transform: uppercase;
}

.al-link {
  display: flex;
}

.al {
  font-family: "Editorial Grotesk", "Arial", san-serif;
  font-weight: 700;
  font-size: 13px;
  line-height: 16px; 
  color: #111111;
  text-transform: uppercase;
}

.arrow {
  margin-left: 10px;
}

.news-list {
  display: flex;
  flex-wrap: wrap;
}

.news-item {
  position: relative;
  margin-bottom: 25px;
  width: 275px;
}

.news-item:not(:nth-child(3n+3)) {
  margin-right: 30px;
}

.news-link {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.news-link::before {
  content: "";
  position: absolute;
  top: 223px;
  border-bottom: 10px solid #FD1E4F;
  width: 275px;
}

.news-item-block {
  padding: 20px;
  background-color: #ffffff;
  height: 100%;
}

.news-date {
  font-size: 13px;
  line-height: 16px;
  margin-bottom: 10px;
}

.news-heading {
  font-family: "Editorial Grotesk", "Arial", san-serif;
  font-weight: 700;
  font-size: 20px;
  color: #111111;
  margin-bottom: 10px;
  text-transform: uppercase;
}

.statistics {
  padding: 0 40px 50px 40px;
}

.table-bombardier {
  width: 400px;
}

.table-statistics {
  width: 370px
}

.statistics-list {
  display: flex;
  justify-content: space-between;
}

.team {
  font-weight: 400;
  color: #828282;
  padding-left: 10px;
}

.footer {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  width: 1280px;
}

.sponsors {
  display: flex;
  padding: 40px;
  justify-content: space-between;
  align-items: center;
}

.sberbank-link {
  display: flex;
}

.sberbank-text {
  margin-right: 30px;
  font-family: "Editorial Grotesk", "Arial", san-serif;
  font-weight: 700;
  font-size: 13px;
  color: #828282;
  align-self: center;
  text-transform: uppercase;
}

.sponsors-block {
  display: flex;
}

.sponsors-text {
  font-family: "Editorial Grotesk", "Arial", san-serif;
  font-weight: 700;
  font-size:13px;
  color: #828282;
  margin-right: 30px;
  align-self: center;
  text-transform: uppercase;
}

.sponsors-list {
  display: flex;
}

.sponsors-item {
  margin-left: 30px;
}

.sponsors-image {
  border-radius: 50%;
}

.contacts {
  display: flex;
  align-items: center;
  background-color: #111111;
  justify-content: space-between;
  padding: 40px;
}

.copyright {
  font-family: "Helvetica Neue", "Arial", san-serif;
  font-size: 13px;
  line-height: 16px;
  color: #FFFFFF;
}

.socials-list {
  display: flex;
  align-items: center;
}

.socials-item {
  padding-right: 40px;
  padding-left: 40px;
}

.socials-item:not(:last-child) {
  height: 50px;
  border-right: 1px solid #575757;
  padding-top: 12px;
}

