@font-face {
  font-family: "Helvetica Neue";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: local('Helvetica Neue'),local('Helvetica Neue-Regular'),
  url("../fonts/HelveticaNeue-Regular.woff2") format("woff2"),
  url("../fonts/HelveticaNeue-Regular.woff") format("woff"),
  url("../fonts/HelveticaNeue-Regular.ttf") format("ttf");
}

@font-face {
  font-family: "Editorial Grotesk";
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: local('Editorial Grotesk'),local('Editorial Grotesk-Bold'),
  url("../fonts/EditorialGrotesk-Bold.woff2") format("woff2"),
  url("../fonts/EditorialGrotesk-Bold.woff") format("woff"),
  url("../fonts/EditorialGrotesk-Bold.ttf") format("ttf");
} 

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
  margin: 0;
  padding: 0;
}

:root {
  /*css - переменные*/
  --white: #ffffff;
}
/* применение var(--color-blue); */

.visually-hidden:not(:focus):not(active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

a {
  color: #575757;
  text-decoration: none;
}

li {
  list-style-type: none;
}

.main {
  font-family: "Helvetica Neue", "Arial", san-serif;
  font-size: 16px;
  line-height: 26px;
  color: #575757;
  font-style: normal;
  font-weight: 400;
  background-color: #F7F7F7;
}

.news-main {
  font-family: "Editorial Grotesk", "Arial", san-serif;
  font-weight: 700;
  font-size: 26px;
  color: #111111;
}

.news-al {
  font-family: "Editorial Grotesk", "Arial", san-serif;
  font-weight: 700;
  font-size: 10px;
  line-height: 16px; 
  color: #111111;
}

.news-date {
  font-size: 13px;
  line-height: 16px;
}

.news-heading {
  font-family: "Editorial Grotesk", "Arial", san-serif;
  font-weight: 700;
  font-size: 20px;
  color: #111111;
}

.sberbank-text {
  font-family: "Editorial Grotesk", "Arial", san-serif;
  font-weight: 700;
  font-size: 13px;
  color: #828282;
}

.sponsors-text {
  font-family: "Editorial Grotesk", "Arial", san-serif;
  font-weight: 700;
  font-size:13px;
  color: #828282;
}

.copyright {
  font-size: 13px;
  line-height: 16px;
  color: #FFFFFF;
}

.main {
  display: flex;
  flex-direction: row;
  margin-bottom: 50px;
}

.sidebar {
  width: 278px;
  height: 1223px;
  margin-left: 40px;
  margin-top: 30px;
  background-color: #aeaeae;
}

.news-block {
  margin-left: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.news-al-link {
  display: flex;
  margin-right: 15px;
}

.news-arrow {
  margin-left: 10px;
}

.news {
  margin-top: 30px;
  width: 924px;
  height: 1223px;
  margin-left: 20px;
}

.news-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.news-item {
  margin: 15px;
  width: 278px;
  height: 569px;
}

.news-item-block {
  margin: 20px;
}

.news-date {
  margin-bottom: 10px;
}

.news-heading {
  margin-bottom: 10px;
}

.footer {
  display: flex;
  flex-direction: column;
  width: 1280px;
}

.sponsors {
  display: flex;
  flex-direction: row;
  margin: 30px;
  justify-content: space-between;
}

.sberbank-link {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.sberbank-text {
  margin-right: 30px;
}

.sponsors-block {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: -10px;
}

.sponsors-list {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.sponsors-item {
  margin-left: 30px;
}

.sponsors-text {
  margin-right: 30px;
}

.sponsors-image {
  border-radius: 30px;
}

.contacts {
  height: 102px;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #111111;
  justify-content: space-between;
}

.socials-list {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.copyright {
  margin-left: 30px;
  margin-top: 43px;
  margin-bottom: 43px;
}

.socials-image {
  margin: 40px;
}