@font-face {
  font-family: "Helvetica Neue";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: local('Helvetica Neue'),local('Helvetica Neue-Regular'),
  url("../fonts/HelveticaNeue-Regular.woff2") format("woff2"),
  url("../fonts/HelveticaNeue-Regular.woff") format("woff"),
  url("../fonts/HelveticaNeue-Regular.ttf") format("ttf");
}

@font-face {
  font-family: "Editorial Grotesk";
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: local('Editorial Grotesk'),local('Editorial Grotesk-Bold'),
  url("../fonts/EditorialGrotesk-Bold.woff2") format("woff2"),
  url("../fonts/EditorialGrotesk-Bold.woff") format("woff"),
  url("../fonts/EditorialGrotesk-Bold.ttf") format("ttf");
} 

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
  margin: 0;
  padding: 0;
}

:root {
  /*css - переменные*/
  --white: #ffffff;
}
/* применение var(--color-blue); */

.visually-hidden:not(:focus):not(active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

a {
  color: #575757;
  text-decoration: none;
}

li {
  list-style-type: none;
}

table {
  border-collapse: collapse;
}

.main {
  font-family: "Helvetica Neue", "Arial", san-serif;
  font-size: 16px;
  line-height: 26px;
  color: #575757;
  font-style: normal;
  font-weight: 400;
  background-color: #F7F7F7;
  margin: 0 auto;
  width: 1280px;
}

.slider {
  position: relative;
}

.menu {
  position: absolute;
  top: 0;
  display: flex;
  z-index: 4;
  width: 1280px;
  height: 60px;
}

.menu-list {
  display: flex;
  margin-top: 20px;
  margin-left: 40px;
}

.logo {
  padding-right: 30px;
}

.logo-name {
  font-family: "Editorial Grotesk", "Arial", san-serif;
  font-weight: 700;
  font-size: 20px;
  color: #ffffff;
  text-transform: uppercase;
  padding-left: 20px;
}

.menu-item {
  padding-right: 20px;
  padding-left: 20px;
}

.menu-name {
  font-family: "Editorial Grotesk", "Arial", san-serif;
  font-weight: 700;
  font-size: 13px;
  color: #ffffff;
  text-transform: uppercase;
}

.tournament-list {
  position: absolute;
  top: 60px;
  background-color: #ffffff;
  padding-top: 20px;
  padding-bottom: 20px;
  visibility: hidden;
  opacity: 0;
  position: absolute;
}

.tournament-list::before {
  content: "";
  position: absolute;
  top: 0;
  border-bottom: 10px solid #FFE052;
  width: 100%;
}

.menu-list .menu-item:hover > .tournament-list {
  visibility: visible;
  opacity: 1;
  transition: opacity 1s;
}

.tournament-item {
  padding-bottom: 5px;
  padding-right: 20px;
  padding-left: 20px;
} 

.tournament-name {
  font-family: "Editorial Grotesk", "Arial", san-serif;
  font-weight: 700;
  font-size: 13px;
  line-height: 13px;
  color: #111111;
  text-transform: uppercase;
}

.tournament-name:hover {
  color: #FD1E4F;
  transition: color 0.3s;
}

.main-sberbank {
  position: absolute;
  top: 15px;
  right: 40px;
}

.promo {
  position: relative;
  height: 540px;
  background-color: #ffffff;
}

.promo::before {
  content: "";
  position: absolute;
  width: 1280px;
  height: 540px;
  z-index: 3;
  background: url(../img/logo.svg) no-repeat bottom 200px left 625px;
}

.promo:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0,0,0,.3);
  z-index: 2;
}

.promo-heading {
  position: absolute;
  bottom: 25px;
  font-family: "Editorial Grotesk", "Arial", san-serif;
  font-weight: 700;
  font-size: 80px;
  line-height: 85px;
  max-height: 255px;
  color: #ffffff;
  text-transform: uppercase;
  padding-left: 40px;
  padding-right: 250px;
  margin: 0;
  z-index: 3;
  display: -webkit-box;
  -webkit-line-clamp: 3; 
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.slider-list {
  display: flex;
}

.slider-item {
  position: relative;
  width: 256px;
  height: 100px;
}

.slider-item:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0,0,0,.3);
  z-index: 2;
}

.slider-item::before {
  visibility: hidden;
  opacity: 0;
  content: "";
  position: absolute;
  width: 256px;
  height: 100px;
  top: 0px;
  background-color: #FFE052;
  color: #FFE052;
  text-align: center;
  background-image: url(../img/arrow.svg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  z-index: 3;
  pointer-events: none;
}

.slider-item:hover .slider-heading {
  opacity: 0;
  transition: opacity 1s;
}

.slider-item:hover::before {
  opacity: 1;
  visibility: visible;
  transition: opacity 1s;
}

.slider-heading  {
  position: absolute;
  top: 20px;
  font-family: "Editorial Grotesk", "Arial", san-serif;
  font-weight: 700;
  font-size: 13px;
  line-height: 16px;
  max-height: 48px;
  color: #ffffff;
  text-transform: uppercase;
  padding: 0 20px 20px 20px;
  z-index: 3;
  display: -webkit-box;
  -webkit-line-clamp: 3; 
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.calendar {
  width: 1280px;
  height: 280px;
  background-color: #ffffff;
  margin-top: 5px;
}

.sidebar-news {
  display: flex;
  padding-top: 30px;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 50px;
}

.sidebar {
  flex-shrink: 0;
  width: 280px;
  margin-right: 30px;
  background-color: #F7F7F7;
}

.league {
  height: 170px;
  background-color: #ffffff;
}

.tournament {
  padding-top: 50px;
}

.tournament-heading {
  font-family: "Editorial Grotesk", "Arial", san-serif;
  font-weight: 700;
  font-size: 26px;
  color: #111111;
  text-transform: uppercase;
  padding-bottom: 20px;
}

.table-block {
  display: flex;
}

.table-tournament {
  width: 100%;
}

.table-head { 
  font-size: 13px;
  line-height: 16px;
  color: #828282;
}

.table-cell-head {
  font-weight: 400;
  padding-right: 10px;
  height: 40px;
  text-align: center;
}

.table-cell-head:nth-child(1) {
  padding-right: 10px;
  padding-left: 10px;
}

.table-cell-head:nth-child(2) {
  text-align: left;
  padding: 10px;
}

.table-row {
  font-size: 13px;
  line-height: 16px;
  color: #111111;
  background-color: #ffffff;
}

.table-cell {
  padding-right: 10px;
  border-bottom: 2px solid #F7F7F7;
  height: 70px;
  text-align: center;
}

.table-cell:nth-child(3) {
  width: 35px;
}

.table-cell:nth-child(4) {
  width: 35px;
}

.table-num {
  font-family: "Editorial Grotesk", "Arial", san-serif;
  font-weight: 700;
  width: 30px;
  height: 70px;
  text-align: center;
  color: #ffffff;
}

.table-row:nth-child(odd) .table-num {
  background-color: #FD1E4F;
}

.table-row:nth-child(even) .table-num {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), #FD1E4F;
}

.table-link {
  padding-left: 20px;
  width: 100%;
  display: flex;
  align-items: center;
}

.table-text {
  width: 100%;
  padding-left: 10px;
  font-weight: 700;
  color: #111111;
  text-align: left;
}

.al-table {
  padding-top: 30px;
}

.news {
  width: 885px;
}

.main-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 15px;
}

.main-heading {
  font-family: "Editorial Grotesk", "Arial", san-serif;
  font-weight: 700;
  font-size: 26px;
  color: #111111;
  text-transform: uppercase;
}

.al-link {
  display: flex;
}

.al {
  font-family: "Editorial Grotesk", "Arial", san-serif;
  font-weight: 700;
  font-size: 13px;
  line-height: 16px; 
  color: #111111;
  text-transform: uppercase;
}

.arrow {
  margin-left: 10px;
}

.news-list {
  display: flex;
  flex-wrap: wrap;
}

.news-item {
  position: relative;
  margin-bottom: 25px;
  width: 275px;
}

.news-item:not(:nth-child(3n+3)) {
  margin-right: 30px;
}

.news-link {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.news-link::before {
  content: "";
  position: absolute;
  top: 223px;
  border-bottom: 10px solid #FD1E4F;
  width: 275px;
}

.news-item-block {
  padding: 20px;
  background-color: #ffffff;
  height: 100%;
}

.news-date {
  font-size: 13px;
  line-height: 16px;
  margin-bottom: 10px;
}

.news-heading {
  font-family: "Editorial Grotesk", "Arial", san-serif;
  font-weight: 700;
  font-size: 20px;
  color: #111111;
  margin-bottom: 10px;
  text-transform: uppercase;
}

.statistics {
  padding: 0 40px 50px 40px;
}

.statistics-list {
  display: flex;
  justify-content: space-between;
}

.statistics-item:not(:nth-child(3)) {
  padding-right: 30px;
}

.table-bombardiers {
  width: 400px;
}

.table-statistics {
  width: 370px
}

.table-head-stat {
  width: 35px;
  font-weight: 400;
  padding-right: 10px;
  height: 40px;
  text-align: center;
}

.table-head-stat:nth-child(1) {
  text-align: left;
  padding: 10px;
}

.table-cell-stat {
  padding-right: 10px;
  border-bottom: 2px solid #F7F7F7;
  height: 70px;
  text-align: center;
}

.table-cell-stat:nth-child(2) {
  width: 35px;
}

.table-cell-stat:nth-child(3) {
  width: 35px;
}

.table-link-block {
  padding-left: 20px;
  width: 290px;
  display: flex;
  align-items: center;
}

.team {
  width: 100%
  color: #828282;
  padding-left: 10px;
  text-align: left;
}

.media-section {
  width: 1280px;
  padding: 0 40px 20px 40px;
}

.main-media-block {
  padding-bottom: 20px;
}

.media-block {
  display: flex;
}

.media {
  display: flex;
  flex-wrap: wrap;
}

.media-link {
  margin-bottom: 30px;
  position: relative;
  display: block;
}

.media-link:not(:nth-child(2n+2)) {
  margin-right: 30px;
}

.wrapper-main-media {
  position: relative;
}

.wrapper-main-media::before {
  content: "";
  position: absolute;
  bottom: 0;
  border-bottom: 10px solid #FD1E4F;
  width: 580px;
}

.wrapper-main-media:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0,0,0,.3);
  z-index: 2;
}

.icon-media {
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 3;
}

.media-heading {
  font-family: "Editorial Grotesk", "Arial", san-serif;
  font-weight: 700;
  font-size: 20px;
  color: #FFFFFF;
  text-transform: uppercase;
  padding-left: 20px;
  padding-right: 20px;
  display: -webkit-box;
  -webkit-line-clamp: 3; 
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 26px;
  max-height: 78px;
  position: absolute;
  bottom: 60px;
  z-index: 3;
}

.media-date {
  font-size: 13px;
  line-height: 16px;
  color: #FFFFFF;
  padding-left: 20px;
  position: absolute;
  bottom: 35px;
  z-index: 3;
}

.wrapper-other-media {
  position: relative;
}

.wrapper-other-media::before {
  content: "";
  position: absolute;
  bottom: 0px;
  border-bottom: 10px solid #FD1E4F;
  width: 280px;
}

.wrapper-other-media:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0,0,0,.3);
  z-index: 2;
}

.footer {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  width: 1280px;
}

.sponsors {
  display: flex;
  padding: 40px;
  justify-content: space-between;
  align-items: center;
}

.sberbank-link {
  display: flex;
}

.sberbank-text {
  margin-right: 30px;
  font-family: "Editorial Grotesk", "Arial", san-serif;
  font-weight: 700;
  font-size: 13px;
  color: #828282;
  align-self: center;
  text-transform: uppercase;
}

.sponsors-block {
  display: flex;
}

.sponsors-text {
  font-family: "Editorial Grotesk", "Arial", san-serif;
  font-weight: 700;
  font-size:13px;
  color: #828282;
  margin-right: 30px;
  align-self: center;
  text-transform: uppercase;
}

.sponsors-list {
  display: flex;
}

.sponsors-item {
  margin-left: 30px;
}

.sponsors-image {
  border-radius: 50%;
}

.contacts {
  display: flex;
  align-items: center;
  background-color: #111111;
  justify-content: space-between;
  padding: 40px;
}

.copyright {
  font-family: "Helvetica Neue", "Arial", san-serif;
  font-size: 13px;
  line-height: 16px;
  color: #FFFFFF;
}

.socials-list {
  display: flex;
  align-items: center;
}

.socials-item {
  padding-right: 40px;
  padding-left: 40px;
}

.socials-item:not(:last-child) {
  height: 50px;
  border-right: 1px solid #575757;
  padding-top: 12px;
}

