@font-face {
  font-family: "Helvetica Neue";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: local('Helvetica Neue'),local('Helvetica Neue-Regular'),
  url("../fonts/HelveticaNeue-Regular.woff2") format("woff2"),
  url("../fonts/HelveticaNeue-Regular.woff") format("woff"),
  url("../fonts/HelveticaNeue-Regular.ttf") format("ttf");
}

@font-face {
  font-family: "Editorial Grotesk";
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: local('Editorial Grotesk'),local('Editorial Grotesk-Bold'),
  url("../fonts/EditorialGrotesk-Bold.woff2") format("woff2"),
  url("../fonts/EditorialGrotesk-Bold.woff") format("woff"),
  url("../fonts/EditorialGrotesk-Bold.ttf") format("ttf");
} 

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
  margin: 0;
  padding: 0;
}

:root {
  /*css - переменные*/
  --white: #ffffff;
  --black: #111111;
  --yellow: #FFE052;
  --dark-gray: #575757;
  --rose-red: #FD1E4F;
  --light-gray: #F7F7F7;
  --gray: #828282;
  --red: #ff0000;
}

.visually-hidden:not(:focus):not(active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

a {
  color: var(--dark-gray);
  text-decoration: none;
}

li {
  list-style-type: none;
}

table {
  border-collapse: collapse;
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 4;
  width: 1280px;
  margin: 0 auto;
  height: 60px;
  display: flex;
  align-items: center;
  padding: 0 40px;
}

.header__logo-link {
  padding-right: 30px;
  font-family: "Editorial Grotesk", "Arial", san-serif;
  font-weight: 700;
  font-size: 20px;
  color: var(--white);
  text-transform: uppercase;
}

.header__logo-image {
  padding-right: 20px;
}

.menu__list {
  display: flex;
}

.menu__link {
  display: block;
  padding: 20px;
  font-family: "Editorial Grotesk", "Arial", san-serif;
  font-weight: 700;
  font-size: 13px;
  color: var(--white);
  text-transform: uppercase;
}

.submenu {
  display: block;
  position: absolute;
  background-color: var(--white);
  margin-left: 20px;
  padding-top: 20px;
  padding-bottom: 10px;
  border-top: 10px solid var(--yellow);
  border-width: 100%;
  visibility: hidden;
  opacity: 0;
}

.menu__item:hover > .submenu {
  visibility: visible;
  opacity: 1;
  transition: opacity 1s;
}

.submenu__link {
  display: block;
  font-family: "Editorial Grotesk", "Arial", san-serif;
  font-weight: 700;
  font-size: 13px;
  line-height: 13px;
  color: var(--black);
  text-transform: uppercase;
  padding: 0 20px 10px 20px;
}

.submenu__link:hover {
  color: var(--rose-red);
  transition: color 0.7s;
}

.header__sber-link {
  margin: 0 0 0 auto;
}

.main {
  font-family: "Helvetica Neue", "Arial", san-serif;
  font-size: 16px;
  line-height: 26px;
  color: var(--dark-gray);
  font-style: normal;
  font-weight: 400;
  background-color: var(--light-gray);
  margin: 0 auto;
  width: 1280px;
}

.content__promo {
  position: relative;
  height: 540px;
  background-color: var(--white);
}

.content__promo::before {
  content: "";
  position: absolute;
  width: 1280px;
  height: 540px;
  z-index: 3;
  background: url(../img/logo.svg) no-repeat bottom 200px left 625px;
  pointer-events: none;
}

.content__promo:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0,0,0,.3);
  z-index: 2;
  pointer-events: none;
}

.content__promo-heading {
  position: absolute;
  bottom: 25px;
  font-family: "Editorial Grotesk", "Arial", san-serif;
  font-weight: 700;
  font-size: 80px;
  line-height: 85px;
  max-height: 255px;
  color: var(--white);
  text-transform: uppercase;
  padding-left: 40px;
  padding-right: 250px;
  margin: 0;
  z-index: 3;
  display: -webkit-box;
  -webkit-line-clamp: 3; 
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.content__slider-list {
  display: flex;
}

.content__slider-item {
  position: relative;
  width: 256px;
  height: 100px;
}

.content__slider-item:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0,0,0,.3);
  z-index: 2;
  pointer-events: none;
}

.content__slider-item::before {
  visibility: hidden;
  opacity: 0;
  content: "";
  position: absolute;
  width: 256px;
  height: 100px;
  top: 0px;
  background-color: var(--yellow);
  color: var(--yellow);
  text-align: center;
  background-image: url(../img/arrow.svg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  z-index: 3;
  pointer-events: none;
}

.content__slider-item:hover .content__slider-heading {
  opacity: 0;
  transition: opacity 1s;
}

.content__slider-item:hover::before {
  opacity: 1;
  visibility: visible;
  transition: opacity 1s;
}

.content__slider-heading {
  position: absolute;
  top: 20px;
  font-family: "Editorial Grotesk", "Arial", san-serif;
  font-weight: 700;
  font-size: 13px;
  line-height: 16px;
  max-height: 48px;
  color: var(--white);
  text-transform: uppercase;
  padding: 0 20px 20px 20px;
  z-index: 3;
  display: -webkit-box;
  -webkit-line-clamp: 3; 
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.calendar {
  padding: 30px 10px;
  background-color: var(--white);
}

.calendar__header {
  display: flex;
  align-items: center;
  padding: 0 25px 25px 25px;
}

.calendar__heading {
  font-family: "Editorial Grotesk", "Arial", san-serif;
  font-weight: 700;
  font-size: 26px;
  color: var(--black);
  text-transform: uppercase;
  margin: 0 auto 0 0;
}

.calendar__tournament-list {
  display: flex;
  align-items: center;
}

.calendar__tournament-link {
  padding-left: 30px;
  font-family: "Editorial Grotesk", "Arial", san-serif;
  font-weight: 700;
  font-size: 13px;
  line-height: 16px; 
  color: var(--black);
  text-transform: uppercase;
}

.calendar__block {
  display: flex;
  align-items: center;
}

.calendar__arrow:hover .calendar__arrow-image {
  stroke: var(--red);
  transition: opacity 1s;
}

.calendar__arrow-image {
  stroke: var(--black);
}

.calendar__list {
  display: flex;
  padding: 0 15px;
  font-size: 13px;
}

.calendar__item:not(:nth-child(4)) {
  padding-right: 30px;
}

.calendar__match-link {
  display: flex;
  flex-direction: column;
}

.calendar__date {
  width: 280px;
  height: 40px;
  background-color: var(--rose-red);
  font-family: "Editorial Grotesk", "Arial", san-serif;
  font-weight: 700;
  color: var(--white);
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
}

.calendar__match {
  display: flex;
  width: 280px;
}

.calendar__teams {
  width: 100%;
}

.calendar__teams-name {
  height: 60px;
  display: flex;
  align-items: center;
  padding-left: 15px;
  background-color: var(--light-gray);
  border-bottom: 1px solid var(--white);
}

.calendar__teams-text {
  font-weight: 700;
  line-height: 16px;
  padding-left: 10px;
  color: var(--black);
  text-align: left;
}

.calendar__score {
  height: 60px;
  width: 55px;
  background-color: var(--light-gray);
  border-bottom: 1px solid var(--white);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 10px;
  line-height: 16px;
  color: var(--black);
}

.calendar__penalty {
  height: 120px;
  background-color: var(--light-gray);
  border-left: 1px solid var(--white);
  border-bottom: 1px solid var(--white);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 21px 0;
}

.calendar__penalty-score {
  width: 55px;
  text-align: center;
  line-height: 16px;
  color: var(--black);
  padding: 0 10px;
}

.calendar__penalty-text {
  font-weight: 700;
  line-height: 16px;
  color: var(--black);
  text-align: center;
  text-transform: uppercase;
}

.calendar__technical-defeat {
  width: 55px;
  height: 120px;
  background-color: var(--light-gray);
  border-left: 1px solid var(--white);
  border-bottom: 1px solid var(--white);
  font-weight: 700;
  line-height: 16px;
  color: var(--black);
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 20px;
}

.sidebar-news {
  display: flex;
  padding-top: 30px;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 50px;
}

.sidebar {
  flex-shrink: 0;
  width: 280px;
  margin-right: 30px;
  background-color: var(--light-gray);
}

.sidebar__heading {
  font-family: "Editorial Grotesk", "Arial", san-serif;
  font-weight: 700;
  font-size: 26px;
  color: var(--black);
  text-transform: uppercase;
  padding-bottom: 20px;
}

.table {
  width: 100%;
  margin-bottom: 30px;
}

.table__head {
  font-size: 13px;
  line-height: 16px;
  color: var(--gray);
}

.table__head-cell {
  font-weight: 400;
  padding-right: 10px;
  height: 40px;
  text-align: center;
}

.table__head-cell--num-yes:nth-child(1) {
  padding: 0 10px;
}

.table__head-cell--num-yes:nth-child(2) {
  text-align: left;
  padding: 10px;
}

.table__row {
  font-size: 13px;
  line-height: 16px;
  color: var(--black);
  background-color: var(--white);
}

.table__row:nth-child(odd) .table__num {
  background-color: var(--rose-red);
}

.table__row:nth-child(even) .table__num {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), var(--rose-red);
}

.table__num {
  font-family: "Editorial Grotesk", "Arial", san-serif;
  font-weight: 700;
  width: 30px;
  height: 70px;
  text-align: center;
  color: var(--white);
}

.table__cell {
  padding-right: 10px;
  border-bottom: 2px solid var(--light-gray);
  height: 70px;
  text-align: center;
}

.table__cell--num-yes:nth-child(3) {
  width: 35px;
}

.table__cell--num-yes:nth-child(4) {
  width: 35px;
}

.table__link {
  padding-left: 20px;
  width: 100%;
  display: flex;
  align-items: center;
}

.table__text {
  width: 100%;
  padding-left: 10px;
  font-weight: 700;
  color: var(--black);
  text-align: left;
}

.heading {
  display: flex;
  align-items: center;
  width: 100%;
}

.heading__text {
  font-family: "Editorial Grotesk", "Arial", san-serif;
  font-weight: 700;
  font-size: 26px;
  color: var(--black);
  text-transform: uppercase;
  margin: 0 auto 0 0;
}

.al-link {
  display: flex;
  align-items: center;
}

.al-link__text {
  font-family: "Editorial Grotesk", "Arial", san-serif;
  font-weight: 700;
  font-size: 13px;
  line-height: 16px; 
  color: var(--black);
  text-transform: uppercase;
}

.al-link__arrow {
  padding-left: 10px;
}

.news__list {
  display: flex;
  flex-wrap: wrap;
  padding-top: 15px;
}

.news__item {
  position: relative;
  margin-bottom: 25px;
  width: 275px;
}

.news__item:not(:nth-child(3n+3)) {
  margin-right: 30px;
}

.news__link {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.news__link::before {
  content: "";
  position: absolute;
  top: 223px;
  border-bottom: 10px solid var(--rose-red);
  width: 275px;
}

.news__wrapper {
  padding: 20px;
  background-color: var(--white);
  height: 100%;
}

.news__date {
  font-size: 13px;
  line-height: 16px;
  margin-bottom: 10px;
}

.news__heading {
  font-family: "Editorial Grotesk", "Arial", san-serif;
  font-weight: 700;
  font-size: 20px;
  color: var(--black);
  margin-bottom: 10px;
  text-transform: uppercase;
}

.statistics {
  padding: 0 40px 20px 40px;
}

.statistics__list {
  display: flex;
  padding-top: 15px;
  justify-content: space-between;
}

.statistics__item:first-child {
  width: 400px;
}

.statistics__item:not(:first-child) {
  width: 370px;
  padding-left: 30px;
}

.table__head-cell--num-no:first-child {
  text-align: left;
  padding: 10px;
}

.table__cell--num-no:nth-child(2) {
  width: 35px;
}

.table__cell--num-no:nth-child(3) {
  width: 35px;
}

.table__wrapper {
  width: 240px;
  display: flex;
  align-items: left;
  flex-direction: column
}

.table__team-name {
  width: 100%
  color: var(--gray);
  padding-left: 10px;
  text-align: left;
}

.media {
  padding: 0 40px;
}

.media__row {
  display: flex;
  padding-top: 15px;
  padding-bottom: 20px;
}

.media__link {
  margin-bottom: 30px;
  position: relative;
  display: block;
}

.media__link:not(:nth-child(2n+2)) {
  margin-right: 30px;
}

.media__link:hover .media__icon--color-yellow {
  fill: var(--red);
  transition: opacity 1s;
}

.media__link:hover .media__icon--color-red {
  fill: var(--yellow);
  transition: opacity 1s;
}

.media__link::before {
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
  z-index: 3;
  border-bottom: 10px solid;
}

.media__link:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0,0,0,.3);
  z-index: 2;
}

.media__link--border-red::before {
  border-color: var(--rose-red);
}

.media__link--border-yellow::before {
  border-color: var(--yellow);
}

.media__icon {
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 3;
}

.media__icon--color-yellow {
  fill: var(--yellow);
}

.media__icon--color-red {
  fill: var(--red);
}

.media__heading {
  font-family: "Editorial Grotesk", "Arial", san-serif;
  font-weight: 700;
  font-size: 20px;
  color: var(--white);
  text-transform: uppercase;
  padding-left: 20px;
  padding-right: 20px;
  display: -webkit-box;
  -webkit-line-clamp: 3; 
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 26px;
  max-height: 78px;
  position: absolute;
  bottom: 60px;
  z-index: 3;
}

.media__date {
  font-size: 13px;
  line-height: 16px;
  color: var(--white);
  padding-left: 20px;
  position: absolute;
  bottom: 35px;
  z-index: 3;
}

.media__other {
  display: flex;
  flex-wrap: wrap;
}

.footer {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  width: 1280px;
}

.sponsors {
  display: flex;
  padding: 40px;
  justify-content: space-between;
  align-items: center;
}

.sponsors__link {
  display: flex;
}

.sponsors__text {
  margin-right: 30px;
  font-family: "Editorial Grotesk", "Arial", san-serif;
  font-weight: 700;
  font-size: 13px;
  color: var(--gray);
  align-self: center;
  text-transform: uppercase;
}

.sponsors__other {
  display: flex;
}

.sponsors__list {
  display: flex;
}

.sponsors__item:not(:first-child) {
  margin-left: 30px;
}

.sponsors__image {
  border-radius: 50%;
}

.contacts {
  display: flex;
  align-items: center;
  background-color: var(--black);
  justify-content: space-between;
  padding: 40px;
}

.contacts__copyright {
  font-family: "Helvetica Neue", "Arial", san-serif;
  font-size: 13px;
  line-height: 16px;
  color: var(--white);
}

.socials-list {
  display: flex;
  align-items: center;
}

.socials-list__item {
  padding-right: 40px;
  padding-left: 40px;
}

.socials-list__item:not(:last-child) {
  height: 50px;
  border-right: 1px solid var(--dark-gray);
  padding-top: 12px;
}
